body {
    background-color: #000000;
}
#main-containeer {
    width: 100%;
}
h1, h2, h3, h4{
    color: white
}
a {
    color: white
}
th, td {
    border: 1px solid wheat;
    border-collapse: separate;
    color: white;
    
  }
  table#linksTable {
    overflow: auto;
    display: flex;
  }
  th {
      text-align: center;
  }
  th, td {
    padding-top: 20px;
    text-align: left; 
    color: white   
  }
  th {
      background-color: darkgreen;
  }

  footer {
      position: relative;
      background: #000;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: darkgreen;
      color: white;
      text-align: center;
      box-shadow: 0 50vh 0 50vh #000;
  }